apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: proxy
  namespace: openshift-migration
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: proxy
subjects:
  - kind: ServiceAccount
    name: proxy
    namespace: openshift-migration
